* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  position: relative;
}
img {
  max-width: 100%;
}
.container {
  padding: 100px 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.container::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 90%;
  background-image: linear-gradient(
    to bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  border-radius: 0px 0px 50% 50%;
  top: 0;
  left: -10%;
  z-index: -2;
}
.phone {
  width: 80%;
  padding: 10px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 30px;
  position: relative;
  background-color: white;
}
.phone::before {
  content: "";
  width: 50%;
  height: 5%;
  background-color: white;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0 15px 15px;
  z-index: 3;
}

.content {
  background-color: hsl(270, 20%, 96%);
  border-radius: 30px;
}
.info {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  padding: 35px 10px 20px;
  align-items: center;
  border-radius: 20px 20px 5px 5px;
  position: relative;
}
.info::after {
  content: "";
  position: absolute;
  right: 10%;
}
.info .image {
  width: 10%;
  margin: 10px 10px 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.info .image i {
  color: white;
  font-size: 13px;
  font-weight: 700;
  padding-right: 10px;
}
.info .image img {
  border-radius: 50%;
  border: 2px solid white;
}
.details {
  align-self: flex-end;
  padding-left: 15px;
}
.info .details p {
  color: hsl(276, 100%, 81%);
  font-size: 13px;
  margin-top: 1px;
}
.info .details h4 {
  color: white;
}
.info .menu {
  color: white;
  padding-left: 35%;
}
.phone .chat {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.phone .chat .coast {
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  display: flex;
  color: white;
  padding: 15px;
  align-items: center;
  position: relative;
}
.phone .chat .coast span {
  width: 15px;
  height: 15px;
  border: 1px solid #d1c9c9ab;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.phone .chat .coast p {
  font-size: 10px;
}
.phone .chat .coast h4 {
  position: absolute;
  right: 10px;
}
.phone .chat div {
  padding: 10px;
  width: 60%;
  margin: 5px;
  border-radius: 10px;
}
.left {
  color: hsl(276, 55%, 52%);
  background-color: #8080801a;
}
.right {
  align-self: flex-end;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
.dog_images {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.dog_images img {
  width: 60px;
  border-radius: 15px;
}
.phone .chat .typing {
  width: 95%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-radius: 40px;
}
.phone .chat .typing .typ {
  color: #d1c9c9ab;
}
.phone .chat .typing i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: hsl(271, 36%, 24%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.container .inf {
  width: 100%;
  margin-left: 15%;
}
.container .inf h3 {
  font-size: 40px;
  margin: 50px 0;
  color: hsl(271, 36%, 24%);
}
.container .inf p {
  line-height: 1.7;
  color: hsl(270, 7%, 64%);
  width: 110%;
}
@media (max-width: 375px) {
  .container {
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
  }
  .container::before {
    width: 100%;
    height: 50%;
    top: -5%;
    left: -50%;
  }
  .container .inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-left: 0;
  }
  .container .chat .dog_images img {
    width: 50px;
  }
}
.attribution {
  position: absolute;
  bottom: 10px;
  right: 15%;
}
